<!-- templates/registration/change_password.html -->
{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  <h1>Change password</h1>
  <p style="color:red;">{{ msg }}</p>

  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <input type="email" class="form-control form-control-user" id="email"
             name="email" placeholder="Email Address">
    </div>
    <button type="submit" class="btn btn-primary w-100">Send me instructions</button>
  </form>
{% endblock %}