<!-- templates/registration/change_password.html -->
{% extends 'base.html' %}

{% block title %}Recover Password{% endblock %}

{% block content %}
  <h1>Recover Password</h1>
  <p>Hi {{user.first_name}}</p>
  <p style="color:red;">{{ msg }}</p>

  <form method="post">
    {% csrf_token %}
    <label for="new_password1">New Password:</label>
    <input type="password" id="new_password1" name="new_password1">
    <br>
    <label for="new_password2">Confirm New Password:</label>
    <input type="password" id="new_password2" name="new_password2">
    <br>
    <button type="submit">Change Password</button>
  </form>

  {% comment %} <small class="form-text text-muted">Password may not contain your unix username.</small>
  <small class="form-text text-muted">Passwprd must contain upper case letter.</small>
  <small class="form-text text-muted">Password must contain lower case letter.</small>
  <small class="form-text text-muted">Password must contain a number.</small>
  <small class="form-text text-muted">Password must contain Non-alphanumeric character.</small> {% endcomment %}

  <ul>
    <li>Passwords must have a minimum length of eight (8) characters - but more is better!</li>

    <li>Passwords must include at least 3 different types of characters:
      <ul>
        <li>upper-case letters (A-Z)</li>

        <li>lower-case letters (a-z)</li>

        <li>symbols or special characters (%, &, *, $, etc.)</li>

        <li>numbers (0-9)</li>
      </ul>
    </li>

    <li>Passwords cannot contain all or part of your email address</li>
  </ul>


  <div class="messages">
    {% for message in messages %}
      <p style="margin: 10px 0; padding: 5px; border-radius: 4px; font-size: 14px;
                {% if message.tags == 'success' %} color: green; background-color: #e9f7ef; border: 1px solid #1c7430; {% endif %}
                {% if message.tags == 'error' %} color: red; background-color: #f8e8e8; border: 1px solid #d32f2f; {% endif %}">
        {{ message }}
      </p>
    {% endfor %}
  </div>
  
  
{% endblock %}