{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    {% if user.is_authenticated %}
        <!-- Redirect the user to the courses page if already logged in -->
        <meta http-equiv="Refresh" content="0; url='/' />
        <!-- <h2>You are already logged in, please <a href="/logout"> log out </a></h2> -->
    {% else  %}
        <div class="p-1 w-100 h-100">
            <h2>Create your UMB CS Portal Account</h2>
            <h6>Please email us at <a href = "mailto: operator@cs.umb.edu">operator@cs.umb.edu</a> if you do not recevice activation link to your email.</h6>
            <form method="POST" class="form-group nt-weight-bold p-2 border-bottom">
                {% csrf_token %}
                <div class="form-group mb-9">
                    <label for="username">Username<span class="asteriskField">*</span></label>
                    <input type="text" class="form-control form-control-user" id="username" name="username">
                    <small id="hint_id_username" class="form-text text-muted">Username must be lowercase letters (a-z), numbers (0-9), and 3 to 8 characters long</small>
                </div>
                <div class="form-group mb-9">
                    <label for="firstname">First Name<span class="asteriskField">*</span></label>
                    <input type="text" class="form-control form-control-user" id="firstname" name="firstname">
                </div>
                <div class="form-group mb-9">
                    <label for="lastname">Last Name<span class="asteriskField">*</span></label>
                    <input type="text" class="form-control form-control-user" id="lastname" name="lastname">
                </div>
                <div class="form-group mb-9">
                    <label for="email">Email Address<span class="asteriskField">*</span></label>
                    <input type="email" class="form-control form-control-user" id="email" name="email">
                </div>
                <div class="form-group mb-9">
                    <label for="pasw1">Password<span class="asteriskField">*</span></label>
                    <input type="password" class="form-control form-control-user" id="pasw1" name="pasw1">
                </div>
                <div class="form-group mb-9">
                    <label for="pasw2">Repeat Password<span class="asteriskField">*</span></label>
                    <input type="password" class="form-control form-control-user" id="pasw2" name="pasw2">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary w-100">Join</button>
                </div>
            </form>
            <div class="messages">
                {% for message in messages %}
                  <p style="margin: 10px 0; padding: 5px; border-radius: 4px; font-size: 14px;
                            {% if message.tags == 'success' %} color: green; background-color: #e9f7ef; border: 1px solid #1c7430; {% endif %}
                            {% if message.tags == 'error' %} color: red; background-color: #f8e8e8; border: 1px solid #d32f2f; {% endif %}">
                    {{ message }}
                  </p>
                {% endfor %}
            </div>
            <p style="font-size: 20px;">Already have an account? <a href="{% url 'login' %}">Login</a>!</p>
        </div>
    {% endif %}
{% endblock %}
