{% extends 'base.html' %}

{% load static %} 

{% block title %}FAQ{% endblock %}

{% block content %}
<h3 style="text-align: center; margin-top: 20px;">Frequently Asked Questions</h3>

<style>
    html {
        scroll-behavior: smooth;
    }
    h3 {
        scroll-margin-top: 50px;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        margin-bottom: 10px;
    }
    h5 {
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: #007bff;
        font-family: Arial, sans-serif;
        margin: 0;
    }
    p {
        font-size: 16px;
        color: #666;
        margin: 0;
    }
</style>

<ul>
    {% for faq in faqs %}
    <li>
        <h5><a href="#faq{{ forloop.counter }}">FAQ {{ forloop.counter | default_if_none:'01' }}: {{ faq.question }}</a></h5>
    </li>
    {% endfor %}
</ul>

{% for faq in faqs %}
<div style="margin-top: 30px;">
    <h3 id="faq{{ forloop.counter }}" style="text-decoration: underline;">FAQ {{ forloop.counter | default_if_none:'01' }}: {{ faq.question }}</h3>
    <pre>{{ faq.answer | safe }}</pre>
</div>
{% endfor %}

<hr/>

<h3 style="text-align: center; margin-top: 20px;">Maps-</h3>

<div style="display: flex; justify-content: center; gap: 20px; margin-top: 20px;">
    <div>
        <a href="{% static 'images/CS_Offices_Research_Labs_1-1.jpg' %}">
            <img src="{% static 'images/CS_Offices_Research_Labs_1-1.jpg' %}" alt="Map 1" style="width: 300px; height: auto;">
        </a>
    </div>
    <div>
        <a href="{% static 'images/CS_Offices_Research_Labs_1-2.jpg' %}">
            <img src="{% static 'images/CS_Offices_Research_Labs_1-2.jpg' %}" alt="Map 2" style="width: 300px; height: auto;">
        </a>
    </div>
    <div>
        <a href="{% static 'images/CS_Offices_Research_Labs_1.jpg' %}">
            <img src="{% static 'images/CS_Offices_Research_Labs_1.jpg' %}" alt="Map 3" style="width: 300px; height: auto;">
        </a>
    </div>
</div>

<h3 style="text-align: center; margin-top: 30px;">
    If you have any further queries or are facing issues with class registration, please email us at
    <a href="mailto:operator@cs.umb.edu">operator@cs.umb.edu</a>.
</h3>
{% endblock %}
