{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

  <h3 style="text-align: center; margin-top: 20px;">Frequently Asked Questions</h3>

  <style>
    html {
      scroll-behavior: smooth;
    }
    h3 {
      scroll-margin-top: 50px;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      margin-bottom: 10px;
    }
    h5 {
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      color: #007bff;
      font-family: Arial, sans-serif;
      margin: 0;
    }
    p {
      font-size: 16px;
      color: #666;
      margin: 0;
    }
  </style>

  <ul>
    {% for faq in faqs %}
      <li>
        <h5><a href="#{{ faq.question }}">{{ faq.question }}</a></h5>
      </li>
    {% endfor %}
  </ul>

  {% for faq in faqs %}
    <div style="margin-top: 30px;">
      <h3 id="{{ faq.question }}">{{ faq.question }}</h3>
      <p>{{ faq.answer }}</p>
    </div>
  {% endfor %}

  <h3 style="text-align: center; margin-top: 30px;">
    If you have any further queries or are facing issues with class registration, please email us at
    <a href="mailto:operator@cs.umb.edu">operator@cs.umb.edu</a>.
  </h3>
{% endblock %}
