{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  {%if activated is False%}
    <div class="alert alert-success">
    <p>Please check your email to activate your account</p>
    </div>
  {%elif activated is True%}
    <div class="alert alert-success">
    <p>Account Activated, please <a href="/accounts/login">Login</a></p>
    </div>
  {%endif%}
{% else %}
<div class="card">
  <div class="card-body d-flex justify-content-center">
    <div class="col-lg-6">
      <div class="p-5">
        <div class="text-center">
          <h1 class="h4 text-gray-900 mb-4">Login</h1>
        </div>
        
        <form class="user" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control form-control-user" id="username" name="username" placeholder="Enter Username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Password">
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox small">
              <input type="checkbox" class="custom-control-input" id="customCheck">
              <label class="custom-control-label" for="customCheck">Remember Me</label>
            </div>
          </div>
          <button class="btn btn-primary btn-user btn-block" type="submit">Login</button>
        </form>
        <hr>
        <div class="text-center">
          <a href="/forgot_password/" class="forgot-password-link">Forgot Password?</a>
        </div>
        <div class="text-center">
          <a>Not a member?</a>
          <a href="/register/" class="Register-link">Register!</a>
        </div>
        <div class="messages">
          {% for message in messages %}
            <p style="margin: 10px 0; padding: 5px; border-radius: 4px; font-size: 14px;
                      {% if message.tags == 'success' %} color: green; background-color: #e9f7ef; border: 1px solid #1c7430; {% endif %}
                      {% if message.tags == 'error' %} color: red; background-color: #f8e8e8; border: 1px solid #d32f2f; {% endif %}">
              {{ message }}
            </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}