{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h3>Lab List :</h3>

  <form action="/lablist/" method="post">
    {% csrf_token %}
    <label for="dropdown">Select a Semester :</label>
    <select name="selected_sem" id="selected_sem" onchange="this.form.submit()">
        <option value="" disabled selected> </option>
        {% for sem in sems %}
            <option value="{{ sem.semester_longname }}">{{ sem.semester_longname }}</option>
        {% endfor %}
    </select>
    <br>
</form>

{% comment %} {% if selected_sem %}
  <h4>List for {{selected_sem}} :</h4>
  <ul>
    {% for user in list %}
      <p> \item {{ user.last_name }} {{ user.first_name }} </p>
    {% endfor %}
  </ul>
{% endif %} {% endcomment %}


{% if selected_sem %}
  <h4>List for {{ selected_sem }} : <button onclick="copyList()">Copy List</button> </h4>
  {% comment %} <button onclick="copyList()">Copy List</button> {% endcomment %}
  <ul id="list-text">
\documentclass{article}<br />
\usepackage[margin=0.5in]{geometry}<br />
\usepackage{multicol}<br />
\begin{document} <br/>
  \begin{multicols}{3} <br />
    \begin{itemize}
      {% for user in lab_list %}
        \item[] {{ user.last_name }} {{ user.first_name }} <br />
      {% endfor %}
    \end{itemize}
  \end{multicols}<br />
\end{usepackage}<br />
\end{document}<br />
  </ul>

  {% comment %} <h5> Faculty : <button onclick="copyFacList()">Copy List</button> </h5>
  <ul id="list-fac-text">
    {% for user in listFac %}
      <p> \item {{ user.last_name }} {{ user.first_name }} </p>
    {% endfor %}
  </ul> {% endcomment %}


  <script>
    function copyList() {
      const listText = document.getElementById("list-text").innerText;
      const tempInput = document.createElement("textarea");
      tempInput.value = listText;
      document.body.appendChild(tempInput);
      tempInput.select();
      document.execCommand("copy");
      document.body.removeChild(tempInput);
    }
  </script>

  {% comment %} <script>
    function copyFacList() {
      const listText = document.getElementById("list-fac-text").innerText;
      const tempInput = document.createElement("textarea");
      tempInput.value = listText;
      document.body.appendChild(tempInput);
      tempInput.select();
      document.execCommand("copy");
      document.body.removeChild(tempInput);
      alert("List of faculty copied to clipboard!");
    }
  </script> {% endcomment %}
{% endif %}

{% endblock %}
