{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h3>Print Quota for {{user.username}}</h3>

  <div>
    <form method="post">
      {% csrf_token %}
      <button type="submit">Click me</button>
  </form>
  
  {% if error_message %}
      <p>Error: {{ error_message }}</p>
  {% endif %}
  
  {% if output %}
    <p>Results :</p>
    <pre>{{ output }}</pre>
  {% endif %}
  </div>



  {% for msg in messages %}
    <p id="message" class="error-message">{{ msg }}</p>
  {% endfor %}
{% endblock %}
