{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h3>Print Quota for {{user.username}}</h3>

  <div>
    <form action="/printQuota/" class="w-100" method="POST" class="form-group">
      {% csrf_token %}
      <button type="submit">Click Me</button>
    </form>
  </div>

  {% if output %}
    <div>
      <h4>Print Quota Output:</h4>
      <p>{{ output }}</p>
    </div>
  {% endif %}

  {% for msg in messages %}
    <p id="message" class="error-message">{{ msg }}</p>
  {% endfor %}
{% endblock %}
