<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% load crispy_forms_filters %}

{% block content %}
       <div class="table-responsive-sm" >
            <h2>Courses registered for {{ current_semester }}</h2>
            <h5>If you have selected a wrong section for the course, please email us at <a href = "mailto: operator@cs.umb.edu">operator@cs.umb.edu</a> to correct it.</h5>
            {% csrf_token %}
            <table class="table d-none d-sm-table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Course Number</th>
                        <th scope="col">Course Section</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Course Instructor</th>
                        <th scope="col">Course Notes</th>
                    </tr>
                </thead>
                <tbody>
                {% for idx in courses %}
                        <tr class="border-bottom">
                            <td>{{idx.course_number}}</td>
                            <td>{{idx.course_section}}</td>
                            <td>{{idx.course_name}}</td>
                            <td>{{idx.course_instructor}}</td>
                            <td>{{idx.course_notes}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

           <table class="table d-sm-none ">
                <thead class="thead-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Course Number</th>
                        <th scope="col">Course Section</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Course Instructor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                        <tr class="border-bottom">
                            <td><input type="checkbox" name="id" class="selected_courses" value="{{ course.id }}"></td>
                            <td>{{course.course_number}}</td>
                            <td>{{course.course_section}}</td>
                            <td>{{course.course_name}}</td>
                            <td>{{course.course_instructor}}</td>
                    {% endfor %}
                </tbody>
            </table>
            <div class="messages">
                {% for message in messages %}
                  <p style="margin: 10px 0; padding: 5px; border-radius: 4px; font-size: 14px;
                            {% if message.tags == 'success' %} color: green; background-color: #e9f7ef; border: 1px solid #1c7430; {% endif %}
                            {% if message.tags == 'error' %} color: red; background-color: #f8e8e8; border: 1px solid #d32f2f; {% endif %}">
                    {{ message }}
                  </p>
                {% endfor %}
              </div>
        </div>
        
{% endblock %}